@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Nunito:wght@300&display=swap');

/* Global styles */

:root {
  --dark-color: #1e1c34;
  --yellow-solid: #fff96d;
}

.font-cinzel {
  font-family: 'Cinzel Decorative', cursive;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.branch {
  font-family: 'Nunito', sans-serif;

  font-weight: bold;
}
